<mat-card class="content-card">
  <img mat-card-image [src]="team.photo" alt="This content doesn't have an image">
  <mat-card-content dir="rtl">
    <div class="text-section">
      <div class="content-name __flex-row">
        <span class="text-title">שם איש צוות: </span>
        <p class="text-name">{{team.full_name}}</p>
      </div>
      <div class="content-time __flex-row">
        <span class="text-title">שם תפקיד:</span>
        <p class="text-name">{{team.country}}</p>
      </div>
      <div class="content-time __flex-row">
        <span class="text-title">תיאור:</span>
        <p class="text-name">{{team.description}}</p>
      </div>
      <div class="content-time __flex-row">
        <span class="text-title">קטגוריה: </span>
        <p class="text-name">{{team.section}}</p>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-button  (click)="deleteTeam()">מחק</button>
    <button mat-button  (click)="updateTeam()">עדכון</button>
  </mat-card-actions>
</mat-card>
