.card-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.item-text-section {
  display: flex;
  flex-direction: column;
}
.card-container {
  width: 100%;
  margin: 10px 0;
}
.item-button-section {
  display: flex;
  align-items: center;
}
.success {
  background-color: #40ff4a;
}

.item-text {
  font-size: 16px;
  color: black;
}
.item-sub-text {
  margin-right: 10px;
  font-weight: bold;
}
.margin-btm {
  margin-bottom: 15px;
}
