<toaster-container [toasterconfig]="config"></toaster-container>
<nb-card>
  <nb-tabset>
    <nb-tab tabTitle="Current week"
            [badgeText]="currentWeekBadge"
            badgeStatus="success"
            (click)="changeState('current')">
      <nb-card>
        <nb-card-body>
          <button class="btn btn-rectangle btn-success btn-small btn-margin margin-btm"
                  (click)="aproveCheckedConfirmation()">
            Approve checked
          </button>
          <ng2-smart-table [settings]="settings" [source]="currentWeekSource" (userRowSelect)="rowClicked($event)">
          </ng2-smart-table>
        </nb-card-body>
      </nb-card>
    </nb-tab>
    <nb-tab tabTitle="Next Week"
            [badgeText]="nextWeekBadge"
            badgeStatus="success"
            (click)="changeState('next')">
      <nb-card>
        <nb-card-body>
          <button class="btn btn-rectangle btn-success btn-small btn-margin margin-btm"
                  (click)="aproveCheckedConfirmation()">
            Approve checked
          </button>
          <ng2-smart-table [settings]="settings" [source]="nextWeekSource" (userRowSelect)="rowClicked($event)">
          </ng2-smart-table>
        </nb-card-body>
      </nb-card>
    </nb-tab>
  </nb-tabset>
</nb-card>

