nb-card-body{
  overflow: hidden;
}
video{
  height: 100%;
  width: 300px;
}

[_nghost-c9]{
  text-align: right!important;
}

:host /deep/ tr,th {
  text-align: right!important;
}

.section-wrap span {
  font-size: 14px!important;
}
