<nb-card>
  <nb-card-header dir="rtl">
    רשימת משתמש

    <div class="change-password-block" style="display: flex;flex-direction: column;align-items: center; width: 20%" *ngIf="passBlock">
      <h4>שינויים עבור {{userName}}</h4>
      <input nbInput type="text" [(ngModel)]="newPassword" style="margin: 15px 0">
      <button style="width: 40%" nbButton (click)="changePassword()">להציל</button>
      <button style="width: 40%" nbButton (click)="resetPassword()">לאפס</button>
    </div>
  </nb-card-header>

  <nb-card-body dir="rtl">
    <ng2-smart-table [settings]="settings" [source]="source" (deleteConfirm)="onDeleteConfirm($event)" (custom)="getData($event)" (userRowSelect)="onUserRowSelect($event)">
    </ng2-smart-table>
  </nb-card-body>
</nb-card>

<div class="confirm-block">
  <p></p>
</div>
