nb-card-body{
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
video{
    height: 100%;
    width: 300px;
  }

nb-card {
  display: flex;
  position: relative;
  justify-content: flex-start;
  flex-direction: column;
  direction: rtl;
  min-height: 600px;
  height: auto !important;
}

.first {
  min-height: 250px;
}

button {
  position: relative;
  border: none;
  margin-right: 20px;
  margin-bottom: 20px;
}

.video-btn {

}

.card-item {
  margin-bottom: 15px;
}

.video-tabs {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  p{
    cursor: pointer;
    margin-right: 40px;
  }
}
.video-wrapper {
  width: 45%;
  &:nth-child(odd) {
    direction: ltr;
    text-align: left;
    button {
      margin-left: 20px;
      margin-right: unset;
    }
  }
  .video-description {
    width: 70%;
  }
}

.active {
  text-decoration: underline;
}

.create-video {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  min-height: 250px;
  .create-block{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    button {
      margin: 0;
    }
    input {
      width: 80%;
    }
    button {
      width: 40%;
    }
  }
}
