<ngx-loading *ngIf="loading"></ngx-loading>
<nb-card-header dir="rtl" class="video-tabs">
  <p [ngClass]="{'active': currentIndex === '2'}" (click)="getVideo('2')">שחקן</p>
  <p [ngClass]="{'active': currentIndex === '1'}" (click)="getVideo('1')">שוער</p>
</nb-card-header>

<!--<nb-card class="create-video">-->
  <!--<div class="create-block">-->
    <!--<input accept="video/mp4,video/x-m4v,video/*" nbInput type="file" (change)="selectFile($event)">-->
    <!--<input nbInput type="text" [(ngModel)]="video.description">-->
    <!--<select [(ngModel)]="selectedSection"-->
            <!--[ngModelOptions]="{standalone: true}">-->
      <!--<option [ngValue]="rating"-->
              <!--*ngFor="let rating of ratings">{{rating}}-->
      <!--</option>-->
    <!--</select>-->
    <!--<button nbButton (click)="createVideo()">ליצור</button>-->
  <!--</div>-->
<!--</nb-card>-->

<nb-card class="first" dir="rtl">
  <nb-card-header style="text-align: center">מחלקה 1
  </nb-card-header>
  <nb-card-body>
    <div class="video-wrapper" *ngFor="let video of sections['section[1]']">
      <div class="card-item">
        <div>
          <input style="display: none" accept="video/mp4,video/x-m4v,video/*" type="file" #file1
                 (change)="updateVideo($event, video.id)">
          <button class="video-btn" nbButton (click)="file1.click()">עדכון
          </button>
          <button class="video-btn" nbButton style="background-color: red" (click)="deleteVideo(video.id)">למחוק
          </button>
        </div>
        <video controls controlsList="nodownload" [src]="video.path"></video>
      </div>
      <div class="card-item">
        <input class="video-description" nbInput [(ngModel)]="video.description">
        <button nbButton (click)="updateDescription(video)">עדכון</button>
      </div>
    </div>
  </nb-card-body>
</nb-card>
<nb-card size="small" dir="rtl">
  <nb-card-header style="text-align: center">מחלקה 2
  </nb-card-header>
  <nb-card-body>
    <div class="video-wrapper" *ngFor="let video of sections['section[2]']">
      <div class="card-item">
        <div>
          <input style="display: none" accept="video/mp4,video/x-m4v,video/*" type="file" #file2
                 (change)="updateVideo($event, video.id)">
          <button class="video-btn" nbButton (click)="file2.click()">עדכון
          </button>
          <button class="video-btn" nbButton style="background-color: red" (click)="deleteVideo(video.id)">למחוק
          </button>
        </div>
        <video controls controlsList="nodownload" [src]="video.path"></video>
      </div>
      <div class="card-item">
        <input class="video-description" nbInput [(ngModel)]="video.description">
        <button nbButton (click)="updateDescription(video)">עדכון</button>
      </div>
    </div>
  </nb-card-body>
</nb-card>
<nb-card size="small" dir="rtl">
  <nb-card-header style="text-align: center">מחלקה 3
  </nb-card-header>
  <nb-card-body>
    <div class="video-wrapper" *ngFor="let video of sections['section[3]']">
      <div class="card-item">
        <div>
          <input style="display: none" accept="video/mp4,video/x-m4v,video/*" type="file" #file3
                 (change)="updateVideo($event, video.id)">
          <button class="video-btn" nbButton (click)="file3.click()">עדכון
          </button>
          <button class="video-btn" nbButton style="background-color: red" (click)="deleteVideo(video.id)">למחוק
          </button>
        </div>
        <video controls controlsList="nodownload" [src]="video.path"></video>
      </div>
      <div class="card-item">
        <input class="video-description" nbInput [(ngModel)]="video.description">
        <button nbButton (click)="updateDescription(video)">עדכון</button>
      </div>
    </div>
  </nb-card-body>
</nb-card>
<nb-card size="small" dir="rtl">
  <nb-card-header style="text-align: center">מחלקה 4
  </nb-card-header>
  <nb-card-body>
    <div class="video-wrapper" *ngFor="let video of sections['section[4]']">
      <div class="card-item">
        <div>
          <input style="display: none" accept="video/mp4,video/x-m4v,video/*" type="file" #file4
                 (change)="updateVideo($event, video.id)">
          <button class="video-btn" nbButton (click)="file4.click()">עדכון
          </button>
          <button class="video-btn" nbButton style="background-color: red" (click)="deleteVideo(video.id)">למחוק
          </button>
        </div>
        <video controls controlsList="nodownload" [src]="video.path"></video>
      </div>
      <div class="card-item">
        <input class="video-description" nbInput [(ngModel)]="video.description">
        <button nbButton (click)="updateDescription(video)">עדכון</button>
      </div>
    </div>
  </nb-card-body>
</nb-card>
<nb-card size="small" dir="rtl">
  <nb-card-header style="text-align: center">מחלקה 5
  </nb-card-header>
  <nb-card-body>
    <div class="video-wrapper" *ngFor="let video of sections['section[5]']">
      <div class="card-item">
        <div>
          <input style="display: none" accept="video/mp4,video/x-m4v,video/*" type="file" #file5
                 (change)="updateVideo($event, video.id)">
          <button class="video-btn" nbButton (click)="file5.click()">עדכון
          </button>
          <button class="video-btn" nbButton style="background-color: red" (click)="deleteVideo(video.id)">למחוק
          </button>
        </div>
        <video controls controlsList="nodownload" [src]="video.path"></video>
      </div>
      <div class="card-item">
        <input class="video-description" nbInput [(ngModel)]="video.description">
        <button nbButton (click)="updateDescription(video)">עדכון</button>
      </div>
    </div>
  </nb-card-body>
</nb-card>
