<mat-card class="content-card">
  <mat-card-content>
    <div class="text-section">
      <div class="content-name __flex-row">
        <span class="text-title">שם פרטי: </span>
        <p class="text-name">{{coach.firstname}}</p>
      </div>
      <div class="content-time __flex-row">
        <span class="text-title">שם משפחה:</span>
        <p class="text-name">{{coach.lastname}}</p>
      </div>
      <div class="content-time __flex-row">
        <span class="text-title">דוא"ל:</span>
        <p class="text-name">{{coach.email}}</p>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-button  (click)="deleteCoach()">מחק</button>
  </mat-card-actions>
</mat-card>
