<div class="dialog-content">

  <div mat-dialog-title class="title-text">Edit server</div>
  <div mat-dialog-content>
    <div class="input-margin section-wrap">
      <span class="input-text">Url*: </span>
      <input type="text" placeholder="Url is required" required [maxlength]="255" class="form-control input-flex" [(ngModel)]="server.url"/>
    </div>
    <div class="input-margin section-wrap">
      <span class="input-text">Username: </span>
      <input type="text" placeholder="Username" class="form-control input-flex" [maxlength]="255" [(ngModel)]="server.username"/>
    </div>
    <div class="input-margin section-wrap">
      <span class="input-text">Credential: </span>
      <input type="text" placeholder="Credential" class="form-control input-flex" [maxlength]="255" [(ngModel)]="server.credential"/>
    </div>
  </div>

  <div mat-dialog-actions align="end" class="btn-section">
    <button class="btn btn-rectangle btn-margin btn-secondary btn-md" (click)="close()">Cancel</button>
    <button class="btn btn-rectangle btn-margin btn-success btn-md" [disabled]="server.url === ''" (click)="save()">Save</button>
  </div>
</div>
