<toaster-container [toasterconfig]="config"></toaster-container>

<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header>Content list</nb-card-header>
      <nb-card-body>
        <div class="col-md-12">
          <ngx-content-list [contentList]="contentList"></ngx-content-list>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
