<div class="btn-icon action-btn" [matMenuTriggerFor]="menu" ><i class="fas fa-ellipsis-v"></i></div>
<mat-menu #menu="matMenu" class="custom-menu">
  <div mat-menu-item class="action-menu-item" (click)="removeCoache()">
    <i class="fas fa-user-times"></i>
    <span class="menu-item-text">מחק</span>
  </div>
  <div mat-menu-item class="action-menu-item" (click)="editCoache()">
    <i class="fas fa-user-edit"></i>
    <span class="menu-item-text">ערוך</span>
  </div>
</mat-menu>
