.action-btn {
  cursor: pointer;
}

.menu-item-text {
  margin-left: 15px;
}

.mat-menu-item-highlighted:not([disabled]), .mat-menu-item.cdk-keyboard-focused:not([disabled]), .mat-menu-item.cdk-program-focused:not([disabled]), .mat-menu-item:hover:not([disabled]) {
  background: rgba(0, 0, 0, 0.04);
}
