<nb-card>
  <nb-card-body dir="rtl">
    <ng2-smart-table [settings]="settings" [source]="source" (custom)="restore($event)">
    </ng2-smart-table>
  </nb-card-body>
</nb-card>

<div class="confirm-block">
  <p></p>
</div>
