
.dialog-content {
  background-color: #fff;
  min-width: 600px;
}

.input-margin {
  margin: 10px;
}

.title-text {
  font-weight: bold;
  font-size: 25px;
}

.icon-styles {
  font-size: 24px;
  color: black;
}

mat-dialog-container {
  background-color: #fff;
}

.image-section {
  display: flex;
  flex-direction: row;
}

.image-block {
  height: 220px;
  width: 220px;
  display: flex;
  flex: 50;
}

.image-block img {
  height: 220px;
  width: 220px;
}

.image-upload {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 50;
}

.btn-upload {
  height: 80px;
  width: 80px;
  font-size: 55px;
  line-height: 40px;
  cursor: pointer !important;
  transition: all 0.5s;
}

.btn-upload i {
  margin-left: 4px;
}

.btn-margin {
  margin: 0 10px;
}

.section-wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}

.input-text {
  font-size: 16px;
  font-weight: bold;
  display: flex;
  min-width: 60px;
}
.icon-align {
  position: absolute;
  right: 15px;
  cursor: pointer!important;
}
