<mat-card class="content-card">
  <img mat-card-image [src]="content.image" alt="This content doesn't have an image">
  <mat-card-content>
    <div class="text-section">
      <div class="content-name __flex-row">
        <span class="text-title">Name:</span>
        <p class="text-name">{{content.name}}</p>
      </div>
      <div class="content-date __flex-row">
        <span class="text-title">Date:</span>
        <p class="text-name">{{content.date}}</p>
      </div>
      <div class="content-time __flex-row">
        <span class="text-title">Time:</span>
        <p class="text-name">{{content.time}}</p>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-button (click)="openDialog()">EDIT</button>
    <button mat-button  (click)="deleteContent()">DELETE</button>
  </mat-card-actions>
</mat-card>
