<div class="dialog-content">

  <div mat-dialog-title class="title-text">הוסף מאמן</div>
  <form [formGroup]="consultantForm" novalidate (ngSubmit)="save()" dir="rtl">
    <div mat-dialog-content>
      <div class="input-margin section-wrap">
        <span class="input-text-cnslt">שם פרטי: </span>
        <input type="text" class="form-control input-flex" formControlName="firstname"/>
      </div>
      <div class="alert alert-danger"
           *ngIf="consultantForm.controls['firstname'].invalid && consultantForm.controls['firstname'].touched">
        שם פרטי נדרש והוא חייב להכיל רק אותיות, minlength הוא 3 תווים      </div>
      <div class="input-margin section-wrap">
        <span class="input-text-cnslt">שם משפחה: </span>
        <input type="text" class="form-control input-flex" formControlName="lastname"/>
      </div>
      <div class="alert alert-danger"
           *ngIf="consultantForm.controls['lastname'].invalid && consultantForm.controls['lastname'].touched">
        מספר שם משפחה חייב להכיל רק אותיות
      </div>
      <div class="input-margin section-wrap">
        <span class="input-text-cnslt">דוא"ל: </span>
        <input type="text" class="form-control input-flex" formControlName="email"/>
      </div>
      <div class="alert alert-danger"
           *ngIf="consultantForm.controls['email'].invalid && consultantForm.controls['email'].touched">
        האימייל אינו חוקי
      </div>
      <div class="input-margin section-wrap">
        <span class="input-text-cnslt">סיסמה: </span>
        <input type="text" class="form-control input-flex" formControlName="password"/>
      </div>
      <div class="alert alert-danger"
           *ngIf="consultantForm.controls['password'].invalid && consultantForm.controls['password'].touched">
        על הסיסמה להיות באורך מינימלי של 6 תווים ו -14 תווים לכל היותר
      </div>
    </div>
    <div mat-dialog-actions align="end" class="btn-section">
      <button type="button" class="btn btn-rectangle btn-margin btn-secondary btn-md" (click)="close()">בטל</button>
      <button class="btn btn-rectangle btn-margin btn-success btn-md" *ngIf="data.state === 'create'">יצירת משתמש</button>
      <button class="btn btn-rectangle btn-margin btn-success btn-md" (click)="save()" *ngIf="data.state === 'edit'">יצירת משתמש
      </button>
    </div>
  </form>

</div>
