<toaster-container [toasterconfig]="config"></toaster-container>

<nb-card>
  <nb-card-header style="text-align: right">
    רשימת המאמנים
  </nb-card-header>

  <nb-card-body dir="rtl">
    <div class="btn-section" style="display: flex">
      <button class="btn btn-rectangle btn-margin btn-success btn-md" (click)="openAddCoachDialog()">הוסף מאמן</button>
    </div>
    <ng2-smart-table dir="rtl" [settings]="settings" [source]="source">
    </ng2-smart-table>
  </nb-card-body>
</nb-card>
