.card-footer-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.user-card {
  display: flex;
  flex: 25;
}
.panic-sub-text {
  font-weight: bold;
  color: black;
}
.user-card-title {
  font-weight: bold;
  color: black;
}
