<mat-list>
  <nb-card accent="danger" *ngFor="let item of panicLogs">
    <nb-card-body>
      <span class="panic-sub-text">Panic reason: </span>{{item.content}}
    </nb-card-body>
    <nb-card-footer>
      <div class="card-footer-wrapper">
        <mat-card class="user-card">
          <mat-card-header>
            <mat-card-title class="user-card-title">Kid:</mat-card-title>
            <mat-card-subtitle>{{item.kid.name}}</mat-card-subtitle>
            <mat-card-subtitle>{{item.kid.email}}</mat-card-subtitle>
          </mat-card-header>
        </mat-card>
        <mat-card class="user-card">
          <mat-card-header>
            <mat-card-title class="user-card-title">Consultant:</mat-card-title>
            <mat-card-subtitle>{{item.consultant.name}}</mat-card-subtitle>
            <mat-card-subtitle>{{item.consultant.email}}</mat-card-subtitle>
          </mat-card-header>
        </mat-card>
      </div>
    </nb-card-footer>
  </nb-card>
</mat-list>
