.menu-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  button {
    margin: 5px;
    padding: 2px 10px;
    width: 5%;
  }
}

.menu-input {
  width: 30%;
}

input {
  margin: 10px 30px;
  width: 70%;
  height: 30px;
  padding: 10px;
  border-radius: 10px;
}

button {
  height: 50px;
  margin: 50px 0 0 20px;
}

