<div class="content-list row">

  <div class="list-item" *ngFor="let item of teamsList">
    <ngx-edit-team-list-item [team]="item" (reload)="teamUpdated($event)" (teamDeleted)="handleTeamDeleted($event)"></ngx-edit-team-list-item>
  </div>
</div>
