
<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header>Live content</nb-card-header>
      <nb-card-body>
        <div class="col-md-12">
          <div class="content-list row">
            <div class="list-item" *ngFor="let item of contentList">
              <mat-card class="content-card">
                <img mat-card-image [src]="item.image" alt="This content doesn't have an image">
                <span class="badge-live">LIVE {{item.current_users}}</span>
                <mat-card-content>
                  <div class="text-section">
                    <div class="content-name __flex-row">
                      <span class="text-title">Name:</span>
                      <p class="text-name">{{item.name}}</p>
                    </div>
                    <div class="content-date __flex-row">
                      <span class="text-title">Date:</span>
                      <p class="text-name">{{item.date}}</p>
                    </div>
                    <div class="content-time __flex-row">
                      <span class="text-title">Time:</span>
                      <p class="text-name">{{item.time}}</p>
                    </div>
                    <div class="content-time __flex-row">
                      <span class="text-title">Psycolog :</span>
                      <p class="text-name">{{item.psychology[0].name}}</p>
                    </div>
                    <div class="content-time __flex-row">
                      <span class="text-title">Users in the conversation:</span>
                      <p class="text-name">{{item.current_users}}</p>
                    </div>
                  </div>
                </mat-card-content>
                <mat-card-actions align="end">
                  <button mat-button>STOP CONTENT</button>
                </mat-card-actions>
              </mat-card>

            </div>
          </div>

        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
