.content-card {
  max-width: 270px;
  margin: 15px;
}
.text-section {
  display: flex;
  flex-direction: column;
  justify-content: left;
}
.__flex-row {
  display: flex;
  flex-direction: row;
}

.text-title {
  margin-right: 15px;
  color: black;
  font-weight: bold;
}

.text-name {
  color: black;
}
mat-card-actions {
  button:focus {
    outline: 0;
  }
}
mat-card img {
  height: 250px;
  width: 260px;
}

.badge-live {
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 0.35em 0.7em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  letter-spacing: 0.5px;
  vertical-align: baseline;
  border-radius: 0.25rem;
  background-color: #39b936;
  color: #efecec;
}
