.image-wrap img {
  position: absolute;
  height: 100%;
  width: 100%;
}
.image-block {
  display: flex;
  flex-direction: row;
}
.offset-slider {
  min-height: 480px;
}
.dialog-wrapper {
  display: flex;
  flex-direction: row;
  min-height: 500px;
}
.input-section {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}
.section-wrap {
  min-width: 400px;
  margin-bottom: 15px;
}

.input-text {
  font-weight: 600;
}

.help-text {
  font-size: 16px;
  font-weight: 600;
  color: rgba(87, 87, 87, 0.68);
}

.image-wrap {
  position: relative;
  overflow: hidden;
  height: 450px;
  width: 450px;
  margin: 0 30px;
}

.offset-dot {
  position: absolute;
  left: 240px;
  width: 240px;
  background-color: #ff4081;
  height: 2px;
}

.no-image {
  height: 480px;
  width: 480px;
  border: 1px solid rgba(87, 87, 87, 0.68);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
}

.no-image span {
  font-size: 24px;
  font-weight: 600;
}

mat-slider {
  margin: 0 15px;
}
