<div class="dialog-content">

  <div mat-dialog-title class="title-text" >הוסף צוות</div>
  <div mat-dialog-content>
    <div class="dialog-wrapper">
      <div class="image-section">
        <div class="image-block" *ngIf="photo">
          <div class="image-wrap">
            <input
              style="display: none"
              type="file" (change)="onFileChanged($event)"
              #fileInput1>
            <img class="image-cc" (click)="fileInput1.click()" [src]="photo" alt="Image not found">
          </div>
        </div>
        <div class="no-image" *ngIf="!photo">
          <div class="image-upload">
            <input
              style="display: none"
              type="file" (change)="onFileChanged($event)"
              #fileInput>
            <button class="btn btn-with-icon btn-success btn-upload" (click)="fileInput.click()">
              <i class="fas fa-file-upload"></i>
              העלאת תמונה
            </button>
          </div>
        </div>
      </div>
      <div class="input-section" dir="rtl">
        <div class="input-margin section-wrap">
          <span class="input-text">שם קבוצה: </span>
          <input type="text" class="form-control input-flex" [formControl]="full_name"/>
        </div>
        <div class="alert alert-danger"
             *ngIf="full_name.invalid && full_name.touched">
          שדה שם הקבוצה נדרש.
        </div>
        <div class="input-margin section-wrap">
          <span class="input-text">מדינה: </span>
          <input type="text" class="form-control input-flex" [formControl]="country"/>
        </div>
        <div class="alert alert-danger"
             *ngIf="country.invalid && country.touched">
          שדה חובה נדרש.
        </div>
        <div class="input-margin section-wrap">
          <span class="input-text">תיאור: </span>
          <textarea type="text" class="form-control input-flex" [formControl]="description"></textarea>
        </div>
        <div class="alert alert-danger"
             *ngIf="description.invalid && description.touched">
          שדה תיאור נדרש
        </div>
        <div class="input-margin section-wrap">
          <span class="input-text">סעיף: </span>
          <input type="number" min="1" max="2" class="form-control input-flex" [formControl]="section" />
        </div>
        <div class="alert alert-danger"
             *ngIf="section.invalid && section.touched">
          שדה שדה נדרש
        </div>

      </div>
    </div>
  </div>

  <div mat-dialog-actions align="end" class="btn-section">
    <button class="btn btn-rectangle btn-margin btn-secondary btn-md" (click)="close()">בטל</button>
    <button class="btn btn-rectangle btn-margin btn-success btn-md" (click)="save()">להציל</button>
  </div>
</div>
