<nb-card>
  <nb-card-body dir="rtl">
    <div *ngFor="let item of emailList">
      <div class="flex-wrapper">
        <div class="types-block" dir="rtl">
          <div class="type-item">
            <input placeholder="כותרת" [(ngModel)]="item.mail[0].subject" type="text" nbInput>
            <div style="margin-top: 50px" [innerHTML]="item.mail[0].text"></div>
            <textarea [(ngModel)]="item.mail[0].text"></textarea>
          </div>
          <button class="btn btn-hero-primary" (click)="updateEmail(item.mail[0])">
            שמירה
          </button>
        </div>
        <div class="types-block" dir="ltr">
          <div class="type-item">
            <input placeholder="כותרת" type="text" [(ngModel)]="item.mail[1].subject" nbInput>
            <div style="margin-top: 50px" [innerHTML]="item.mail[1].text"></div>
            <textarea [(ngModel)]="item.mail[1].text"></textarea>
          </div>
          <button class="btn btn-hero-primary" (click)="updateEmail(item.mail[1])">
            שמירה
          </button>
        </div>
      </div>
    </div>
  </nb-card-body>
</nb-card>

