.types-block {
  display: flex;
  flex-direction: row;
  width: 450px;
  .type-item {
    display: flex;
    width: 500px;
    flex-direction: column;
    p {
      font-weight: 400;
      margin: 20px 30px;
      font-family: fantasy;
      font-size: 22px;
    }
    img {
      margin: 0;
      width: 80%;
      height: auto;
    }
  }
}

input {
  margin: 10px 30px;
  width: 70%;
  height: 30px;
  padding: 10px;
  border-radius: 10px;
}

img {
  margin: 20px;
  height: 250px;
}

button {
  height: 50px;
  margin: 50px 0 0 20px;
}

textarea {
  margin: 0 30px;
  width: 70%;
  height: 350px;
  resize: none;
  padding: 10px;
}

.menu-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  button {
    margin: 5px;
    padding: 2px 10px;
    width: 5%;
  }
}

.menu-input {
  width: 30%;
}

[_nghost-c9] {
  text-align: right !important;
}

:host /deep/ tr, th {
  text-align: right !important;
}

.flex-wrapper {
  display: flex;
  justify-content: space-between;
}




