<nb-card>
  <nb-card-header>
    <p *ngIf="!userUploadedImage">Add image</p>
    <img *ngIf="userUploadedImage" src="{{userUploadedImage}}">
    <input style="margin: 15px 0" type="file" accept="image/png" (change)="addImage($event)">
    <button nbButton [disabled]="!userUploadedImage" (click)="uploadImage()">Add</button>
  </nb-card-header>
  <nb-card-body>
    <div class="images" *ngFor="let img of images; let i = index">
      <div class="images_img-btn">
        <img src="{{img.name}}">
        <div style="display: flex">
          <button nbButton (click)="deleteImage(img.id, i)">Delete</button>
          <button nbButton type="button" (click)="inputImg.click()">Update</button>
          <input #inputImg type="file" accept="image/png" (change)="updateImg($event, img, i)" style="display: none">
        </div>
      </div>
      <p (click)="copyLink($event, img.name)" style="cursor: pointer">{{img.name}}</p>
    </div>
  </nb-card-body>
</nb-card>
