.images {
  width: 100%;
  margin: 40px 0;
  &_img-btn {
    width: 50%;
    display: flex;
    align-items: center;
    img {
      width: 60%;
      margin-left: 25px;
    }
  }
  p {
    margin-top: 15px;
    font-weight: 500;
  }
}
