.content-card {
  margin: 15px;
  min-width: 275px;
  max-width: 450px;
  min-height: 450px;
}
.text-section {
  display: flex;
  flex-direction: column;
  justify-content: left;
}
.__flex-row {
  display: flex;
  flex-direction: row;
}

.text-title {
  margin-right: 15px;
  color: black;
  font-weight: bold;
}

.text-name {
  color: black;
}
mat-card-actions {
  button:focus {
    outline: 0;
  }
}
mat-card img {
  max-width: 450px;
  max-height: 300px;
}
