<mat-card class="content-card">
  <img mat-card-image [src]="slide.slider[1].file" alt="This content doesn't have an image">
  <mat-card-content dir="rtl">
    <div class="text-section">
      <div class="content-name __flex-row">
        <span class="text-title">כותרת: </span>
        <p class="text-name">{{slide.slider[1].title}}</p>
      </div>
      <div class="content-time __flex-row">
        <span class="text-title">תיאור:</span>
        <p class="text-name">{{slide.slider[1].description}}</p>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-button  (click)="deleteSlide()">מחק</button>
    <button mat-button  (click)="editSlider()">עדכון</button>
  </mat-card-actions>
</mat-card>
