nb-card-body {
  overflow: hidden;
}

.add-block {
  width: 50px;
  height: 50px;
  font-size: 40px;
  color: green;
  display: flex;
  justify-content: center;
  align-content: center;
  p {
    color: black;
    font-size: 25px;
  }
}

.add-popup {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  &__input {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    margin: 15px 0;
    input {
      display: inline-block;
      height: auto;
      width: 200px;
      margin: 0;
    }
  }
}

.video-wrap {
  height: 100%;
  width: 300px;
  //min-height: 150px;
  max-height: 300px;
  .progress {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    flex-direction: column;
    width: 300px;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    background-color: #000000;
    font-size: 30px;
    color: white;
    z-index: 500;
    p {
      margin: 0;
      font-size: 20px;
    }
    .fa-check-circle {
      color: #2dc100;
    }
  }
}

.textareas-block {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  textarea {
    width: 80%;
    margin: 5%;
    border-radius: 10px;
    height: 300px;
    resize: none;
    padding-left: 10px;
    outline: none;
  }
}

input {
  width: 150px;
  height: 20px;
  margin: 150px 30px;
  border-radius: 10px;
  padding-left: 10px;
  outline: none;
}

.final-score {
  width: 100%;
  text-align: center;
  display: block;
  font-size: 25px;

}

select {
  height: 40px;
  margin: 0 20px;
}

nb-card {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.coach-info, .parent-info {
  display: flex;
  flex-direction: row;
}

.comment-block {
  width: 50%;
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
}

p {
  margin-right: 10px;
  font-weight: 800;
}

span {
  font-weight: 400;
}

