<ngx-loading *ngIf="loading"></ngx-loading>

<nb-card-header dir="rtl">
  <div class="coach-info">
    <p>שם המאמן: <span>{{report.coach.firstname}}</span></p>
    <p>שם משפחה: <span>{{report.coach.lastname}}</span></p>
    <p> מצב דוח: <span>בבדיקה</span></p>
    <p> מספר הדו״ח: <span>{{report.id}}</span></p>
  </div>
  <div class="parent-info">
    <p>שם ההורה: <span>{{report.parent_name}}</span> </p>
    <p>טלפון ההורה: <span>{{report.parent_phone}}</span> </p>
    <p>מייל ההורה: <span>{{report.parent_email}}</span></p>
  </div>
  <div class="player-info">
    <p>שם השחקן: <span> {{report.player.firstname}} </span></p>
    <p> שם משפחה: <span> {{report.player.lastname}} </span></p>
    <p *ngIf="report.player_type === 2">סוג השחקן: <span>שחקן שדה</span></p>
    <p *ngIf="report.player_type === 1">סוג השחקן: <span>שוער</span></p>
    <div class="add-popup">
      <div class="add-popup__input">
        <label for="section">בחר קטע וידאו</label>
        <select id="section" [(ngModel)]="uploadVideo.section">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
      </div>
      <div class="add-popup__input">
        <label for="video">בחר קובץ</label>
        <input id="video" accept="video/mp4,video/x-m4v,video/*" type="file" (change)="getNewVideo($event)">
      </div>
      <div class="add-popup__button">
        <button (click)="addNew()">לשמור</button>
      </div>
    </div>
  </div>

</nb-card-header>
<nb-card size="small" dir="rtl">
 <nb-card-header>הצגה עצמית</nb-card-header>
  <nb-card-body *ngFor="let video of sections['section[1]'];let i = index" [ngStyle]="{'height': !video.info.exist ? '150px' : 'auto'}">
    <input style="display: none" accept="video/mp4,video/x-m4v,video/*" type="file" #file1 (change)="updateVideo($event, video)">
    <button *ngIf="state !== 'show' || right === true" nbButton (click)="file1.click()">עדכון</button>
    <button *ngIf="state !== 'show' || right === true" nbButton style="background-color:red" (click)="deleteVideo(video,i)">מחק</button>
    <video *ngIf="video.info.progress === 100 && video.info.exist" controls class="video-wrap" controlsList="nodownload" >
      <source [src]="video.path">
    </video>
    <div class="video-wrap">
      <div class="progress" *ngIf="video.info.progress < 100 || video.info.progress === 100 && !video.info.exist">
        <i *ngIf="video.info.progress <= 100 && !video.info.exist" class="fas fa-cog fa-spin"></i>
        <p *ngIf=" video.info.progress === 100 && !video.info.exist">עיבוד וידאו</p>
        <p *ngIf="video.info.progress < 100">{{video.info.progress}}%</p>
      </div>
    </div>
  </nb-card-body>
</nb-card>
<nb-card size="small" dir="rtl">
  <nb-card-header *ngIf="report.player_type === 2">טיפול בכדור אישי </nb-card-header>
  <nb-card-header *ngIf="report.player_type === 1">טכניקת טיפול בכדור עם היד </nb-card-header>
  <nb-card-body *ngFor="let video of sections['section[2]'];let i = index" [ngStyle]="{'height': !video.info.exist ? '150px' : 'auto'}">
    <input style="display: none" accept="video/mp4,video/x-m4v,video/*" type="file" #file2 (change)="updateVideo($event, video)">
    <button *ngIf="state !== 'show' || right === true" nbButton (click)="file2.click()">עדכון</button>
    <button *ngIf="state !== 'show' || right === true" style="background-color:red" nbButton (click)="deleteVideo(video,i)">מחק</button>
    <video *ngIf="video.info.progress === 100 && video.info.exist" controls class="video-wrap" controlsList="nodownload" >
      <source [src]="video.path">
    </video>
    <div class="video-wrap">
      <div class="progress" *ngIf="video.info.progress < 100 || video.info.progress === 100 && !video.info.exist">
        <i *ngIf="video.info.progress <= 100 && !video.info.exist" class="fas fa-cog fa-spin"></i>
        <p *ngIf=" video.info.progress === 100 && !video.info.exist">עיבוד וידאו</p>
        <p *ngIf="video.info.progress < 100">{{video.info.progress}}%</p>
      </div>
    </div>
  </nb-card-body>
  <select [(ngModel)]="ratingsData.rating1"
          [disabled]="state === 'show'"
          [ngModelOptions]="{standalone: true}">
    <option [selected]="+ratingsData.rating1 === rating"
            [ngValue]="rating"
            *ngFor="let rating of ratings">{{rating}}
    </option>
  </select>
</nb-card>
<nb-card size="small" dir="rtl" >
  <nb-card-header *ngIf="report.player_type === 2">כדרור </nb-card-header>
  <nb-card-header *ngIf="report.player_type === 1">טכניקת טיפול בכדור עם הרגל </nb-card-header>
  <nb-card-body *ngFor="let video of sections['section[3]'];let i = index" [ngStyle]="{'height': !video.info.exist ? '150px' : 'auto'}">
    <input style="display: none" accept="video/mp4,video/x-m4v,video/*" type="file" #file3 (change)="updateVideo($event, video)">
    <button *ngIf="state !== 'show' || right === true" nbButton (click)="file3.click()">עדכון</button>
    <button *ngIf="state !== 'show' || right === true" style="background-color:red" nbButton (click)="deleteVideo(video,i)">מחק</button>
    <video *ngIf="video.info.progress === 100 && video.info.exist" controls class="video-wrap" controlsList="nodownload" >
      <source [src]="video.path">
    </video>
    <div class="video-wrap">
      <div class="progress" *ngIf="video.info.progress < 100 || video.info.progress === 100 && !video.info.exist">
        <i *ngIf="video.info.progress <= 100 && !video.info.exist" class="fas fa-cog fa-spin"></i>
        <p *ngIf=" video.info.progress === 100 && !video.info.exist">עיבוד וידאו</p>
        <p *ngIf="video.info.progress < 100">{{video.info.progress}}%</p>
      </div>
    </div>
  </nb-card-body>
  <select [(ngModel)]="ratingsData.rating2"
          [disabled]="state === 'show'"

          [ngModelOptions]="{standalone: true}">
    <option [selected]="+ratingsData.rating2 === +rating"
            [ngValue]="rating"
            *ngFor="let rating of ratings">{{rating}}
    </option>
  </select>
</nb-card>
<nb-card size="small" dir="rtl">
  <nb-card-header *ngIf="report.player_type === 2">בעיטות לשער </nb-card-header>
  <nb-card-header *ngIf="report.player_type === 1">זינוקים לכדור </nb-card-header>
  <nb-card-body *ngFor="let video of sections['section[4]'];let i = index" [ngStyle]="{'height': !video.info.exist ? '150px' : 'auto'}">
    <input style="display: none" accept="video/mp4,video/x-m4v,video/*" type="file" #file4 (change)="updateVideo($event, video)">
    <button *ngIf="state !== 'show' || right === true" nbButton (click)="file4.click()">עדכון</button>
    <button *ngIf="state !== 'show' || right === true" style="background-color:red" nbButton (click)="deleteVideo(video,i)">מחק</button>
    <video *ngIf="video.info.progress === 100 && video.info.exist" controls class="video-wrap" controlsList="nodownload" >
      <source [src]="video.path">
    </video>
    <div class="video-wrap">
      <div class="progress" *ngIf="video.info.progress < 100 || video.info.progress === 100 && !video.info.exist">
        <i *ngIf="video.info.progress <= 100 && !video.info.exist" class="fas fa-cog fa-spin"></i>
        <p *ngIf=" video.info.progress === 100 && !video.info.exist">עיבוד וידאו</p>
        <p *ngIf="video.info.progress < 100">{{video.info.progress}}%</p>
      </div>
    </div>
  </nb-card-body>
  <select [(ngModel)]="ratingsData.rating3"
          [disabled]="state === 'show'"
          [ngModelOptions]="{standalone: true}">
    <option [selected]="+ratingsData.rating3 === +rating"
            [ngValue]="rating"
            *ngFor="let rating of ratings">{{rating}}
    </option>
  </select>
</nb-card>
<nb-card size="small" dir="rtl">
  <nb-card-header *ngIf="report.player_type === 2">משחקונים </nb-card-header>
  <nb-card-header *ngIf="report.player_type === 1">1 על 1 שחקן מול שוער </nb-card-header>
  <nb-card-body *ngFor="let video of sections['section[5]'];let i = index" [ngStyle]="{'height': !video.info.exist ? '150px' : 'auto'}">
    <input style="display: none" accept="video/mp4,video/x-m4v,video/*" type="file" #file5 (change)="updateVideo($event, video)">
    <button *ngIf="state !== 'show' || right === true" nbButton (click)="file5.click()">עדכון</button>
    <button *ngIf="state !== 'show' || right === true" style="background-color:red" nbButton (click)="deleteVideo(video,i)">מחק</button>
    <video *ngIf="video.info.progress === 100 && video.info.exist" controls class="video-wrap" controlsList="nodownload" >
    <source [src]="video.path">
  </video>
    <div class="video-wrap">
      <div class="progress" *ngIf="video.info.progress < 100 || video.info.progress === 100 && !video.info.exist">
        <i *ngIf="video.info.progress <= 100 && !video.info.exist" class="fas fa-cog fa-spin"></i>
        <p *ngIf=" video.info.progress === 100 && !video.info.exist">עיבוד וידאו</p>
        <p *ngIf="video.info.progress < 100">{{video.info.progress}}%</p>
      </div>
    </div>
  </nb-card-body>
  <select [(ngModel)]="ratingsData.rating4"
          [disabled]="state === 'show'"
          [ngModelOptions]="{standalone: true}">
    <option [selected]="+ratingsData.rating4 === +rating"
            [ngValue]="rating"
            *ngFor="let rating of ratings">{{rating}}
    </option>
  </select>
</nb-card>
<nb-card class="textareas-block">
  <p class="final-score">תוצאה סופית: {{((ratingsData.rating1 + ratingsData.rating2 + ratingsData.rating3 + ratingsData.rating4)/4).toFixed(2)}}</p>
  <div class="comment-block">
    <span>רושם כללי</span>
    <textarea dir="rtl" [readonly]="state === 'show'" [(ngModel)]="commentsData.comment1" maxlength="250"></textarea>
  </div>
  <div class="comment-block">
    <span>המלצות</span>
    <textarea dir="rtl" [readonly]="state === 'show'" [(ngModel)]="commentsData.comment2" maxlength="250"></textarea>
  </div>
  <div class="comment-block">
    <span>רושם ספציפי</span>
    <textarea dir="rtl" [readonly]="state === 'show'" [(ngModel)]="commentsData.comment3" maxlength="250"></textarea>
  </div>
  <div class="comment-block">
    <span>רושם מהצגה עצמית</span>
    <textarea dir="rtl" [readonly]="state === 'show'" [(ngModel)]="commentsData.comment4" maxlength="250"></textarea>
  </div>
</nb-card>
<nb-card-footer dir="rtl">
  <button *ngIf="state !== 'show'" nbButton (click)="updateReport()">סיים</button>
  <button *ngIf="state !== 'show'" nbButton (click)="saveReport()">שמירה</button>
</nb-card-footer>
