<div class="dialog-content">

  <div mat-dialog-title class="title-text">הוסף שקף</div>
  <div mat-dialog-content>
    <div class="dialog-wrapper">
      <div class="image-section">
        <div class="image-block" *ngIf="slide.file">
          <div class="image-wrap">
            <input
              style="display: none"
              type="file" (change)="onFileChanged($event)"
              #fileInput1>
            <img class="image-cc" (click)="fileInput1.click()" [src]="slide.file" alt="Image not found">
          </div>
        </div>
        <div class="no-image" *ngIf="!slide.file">
          <div class="image-upload">
            <input
              style="display: none"
              type="file" (change)="onFileChanged($event)"
              #fileInput>
            <button class="btn btn-with-icon btn-success btn-upload" (click)="fileInput.click()">
              <i class="fas fa-file-upload"></i>
              העלאת תמונה
            </button>
          </div>
        </div>
      </div>
      <div>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Hebrew
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="input-section" dir="rtl">
            <div class="input-margin section-wrap">
              <span class="input-text">כותרת: </span>
              <input type="text" class="form-control input-flex" [formControl]="title"/>
            </div>
            <div class="alert alert-danger"
                 *ngIf="title.invalid && title.touched">
              שדה הכותרת נדרש.
            </div>
            <div class="input-margin section-wrap">
              <span class="input-text">תיאור: </span>
              <textarea type="text" class="form-control input-flex" [formControl]="description"></textarea>
            </div>
            <div class="alert alert-danger"
                 *ngIf="description.invalid && description.touched">
              שדה תיאור נדרש
            </div>
            <div class="input-margin section-wrap">
              <span class="input-text">זמן: </span>
              <input type="text" class="form-control input-flex" [formControl]="time"/>
            </div>
            <div class="alert alert-danger"
                 *ngIf="time.invalid && time.touched">
              נדרש שדה זמן.
            </div>
          </div>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              English
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="input-section" dir="ltr">
            <div class="input-margin section-wrap">
              <span class="input-text">כותרת: </span>
              <input type="text" class="form-control input-flex" [formControl]="titleEng"/>
            </div>
            <div class="alert alert-danger"
                 *ngIf="titleEng.invalid && titleEng.touched">
              שדה הכותרת נדרש.
            </div>
            <div class="input-margin section-wrap">
              <span class="input-text">תיאור: </span>
              <textarea type="text" class="form-control input-flex" [formControl]="descriptionEng"></textarea>
            </div>
            <div class="alert alert-danger"
                 *ngIf="descriptionEng.invalid && descriptionEng.touched">
              שדה תיאור נדרש
            </div>
            <div class="input-margin section-wrap">
              <span class="input-text">זמן: </span>
              <input type="text" class="form-control input-flex" [formControl]="timeEng"/>
            </div>
            <div class="alert alert-danger"
                 *ngIf="timeEng.invalid && timeEng.touched">
              נדרש שדה זמן.
            </div>
          </div>
        </mat-expansion-panel>
      </div>
    </div>
  </div>

  <div mat-dialog-actions align="end" class="btn-section">
    <button class="btn btn-rectangle btn-margin btn-secondary btn-md" (click)="close()">בטל</button>
    <button class="btn btn-rectangle btn-margin btn-success btn-md" (click)="save()">להציל</button>
  </div>
</div>
