<h1 mat-dialog-title *ngIf="state !== 'schedule' && state !== 'schedule-checked'">Deleting confirmation</h1>
<h1 mat-dialog-title *ngIf="state === 'schedule' || state === 'schedule-checked'">Approve confirmation</h1>
<div mat-dialog-content>
  <p *ngIf="state === 'content'">Are you sure want to delete {{data.content.name}} content?</p>
  <p *ngIf="state === 'consultant'">Are you sure want to delete {{data.consultant.name}} consultant?</p>
  <p *ngIf="state === 'coach'">Are you sure want to delete {{data.coach.email}} coach?</p>
  <p *ngIf="state === 'schedule'">Are you sure want to approve schedule for {{data.schedule.consultant.name}} consultant?</p>
  <p *ngIf="state === 'schedule-checked'">Are you sure want to approve all checked schedules?</p>
</div>
<div mat-dialog-actions align="end">
  <button class="btn btn-rectangle btn-secondary btn-md btn-margin" (click)="close()">No</button>
  <button class="btn btn-rectangle btn-warn btn-md btn-margin" *ngIf="state !== 'schedule' && state !== 'schedule-checked'" (click)="save()" >Yes</button>
  <button class="btn btn-rectangle btn-success btn-md btn-margin" *ngIf="state === 'schedule' || state === 'schedule-checked'" (click)="save()" >Yes</button>
</div>
