ngx-user-info {
  body{padding-top:30px;}

  .glyphicon {  margin-bottom: 10px;margin-right: 10px;}

  small {
    display: block;
    line-height: 1.428571429;
    color: #999;
  }

  .col-md-8 {
    p,h4 {
      text-align: right;
    }
  }
}
.align-right {
  text-align: right;
  direction: rtl;
}
