<div class="container">
  <div class="row">
    <div class="row-wrapper">
      <div class="well well-sm">
        <div class="row" *ngIf="user">
          <div class="col-sm-6 col-md-4">
            <img *ngIf="user.avatar" [src]="user.avatar" class="img-rounded img-responsive" />
            <img *ngIf="!user.avatar" src="./assets/skins/lightgray/img/avataaars.png" class="img-rounded img-responsive" />
          </div>
            <i *ngIf="state=== 'show'" (click)="changeView()" class="fas fa-edit edit-button"></i>
            <i *ngIf="state=== 'edit'" (click)="changeView()" class="fas fa-times edit-button"></i>
          <div *ngIf="state === 'show'" class="col-sm-6 col-md-8">
              <p class="align-right">מדינה: {{user.country.name}}</p>
              <p class="align-right">עיר: {{user.city.name}}</p>
              <p class="align-right">תאריך לידה: {{user.date_of_birth}}</p>
              <p class="align-right">רגל חזרה: {{user.strong_leg}}</p>
              <p class="align-right">גובה: {{user.height}}</p>
              <p class="align-right">משקל: {{user.weight}}</p>
              <p class="align-right">מין: {{user.gender.name}}</p>
              <p class="align-right">עמדה מועדפת: {{user.preffered_position.position}}</p>
              <p class="align-right">עמדה: {{user.field_position.position}}</p>
            <!--<div class="languages">-->
              <!--<div class="field-value" *ngFor="let language of user.languages;let i=index">-->
                <!--<p *ngIf="i !== user.languages.length-1">{{language.name  + "," + " "}}</p>-->
                <!--<p *ngIf="i === user.languages.length-1">{{language.name}}</p>-->
              <!--</div>-->
              <!--<p>:שפות דיבור</p>-->
            <!--</div>-->
              <p class="align-right" *ngIf="user.is_active">שחקן פעיל: כן</p>
              <p class="align-right" *ngIf="!user.is_active">שחקן פעיל: לא</p>
              <p class="align-right" *ngIf="user.intrested_in_foreign">מעוניין לשחק במדינות זרות: כן</p>
              <p class="align-right" *ngIf="!user.intrested_in_foreign">מעוניין לשחק במדינות זרות: לא</p>
            <p class="align-right" *ngIf="user.has_agent">יש סוכן: כן</p>
            <p class="align-right" *ngIf="!user.has_agent">יש סוכן: לא</p>
            <p class="align-right" *ngIf="user.has_contract">תחת חוזה: כן</p>
            <p class="align-right" *ngIf="!user.has_contract">תחת חוזה: לא</p>
            <p class="align-right" *ngIf="user.has_contract">תאריך חוזה: {{user.contract_date}}</p>
            <p class="align-right">שם איש הקשר: {{contact.contact_name}}</p>
            <p class="align-right">אימייל של איש הקשר: {{contact.contact_email}}</p>
            <p class="align-right">טלפון של איש הקשר: {{contact.contact_phone}}</p>
            <p class="align-right">אודות: {{user.about_me}}</p>
          </div>
          <div *ngIf="state === 'edit'" class="col-sm-6 col-md-8">
            <div class="path-wrapper">
              <div class="path">
                <div class="edit-item">
                  <input nbInput fieldSize="medium" [(ngModel)]="user.firstname" type="text">
                  <input nbInput fieldSize="medium" [(ngModel)]="user.lastname" type="text">
                </div>
                <div class="edit-item">
                  <label>תאריך לידה</label>
                  <div class="flex select-wrap">
                    <select [(ngModel)]="dateModel.date.birth.year"
                            [ngModelOptions]="{standalone: true}">
                      <option [selected]="dateModel.date.birth.year === year"
                              [ngValue]="year"
                              *ngFor="let year of dateModel.date.term.years">{{year}}
                      </option>
                    </select>
                    <select [(ngModel)]="dateModel.date.birth.month"
                            #birthMonth
                            [ngClass]="{'not-right': birthMonth.invalid && birthMonth.touched}"
                            (change)="dateModel.getMonth(dateModel.date.birth.month,'birth')"
                            [ngModelOptions]="{standalone: true}">
                      <option [selected]="dateModel.date.birth.month === month"
                              [ngValue]="month"
                              *ngFor="let month of dateModel.date.term.months">
                        {{month}}
                      </option>
                    </select>
                    <select [(ngModel)]="dateModel.date.birth.day"
                            [ngModelOptions]="{standalone: true}">
                      <option [selected]="dateModel.date.birth.day === day"
                              *ngFor="let day of dateModel.date.birth.days"
                              [ngValue]="day">{{day}}
                      </option>
                    </select>
                  </div>
                </div>
                <div class="edit-item">
                  <label for="profile-country">מדינה</label>
                  <select [(ngModel)]="user.country.id"
                          [ngModelOptions]="{standalone: true}" id="profile-country">
                    <option [selected]="user.country.id === country.id" *ngFor="let country of countries"
                            value="{{country.id}}">{{country.name}}
                    </option>
                  </select>
                </div>
                <div class="edit-item">
                  <label for="profile-city">עיר</label>
                  <select [(ngModel)]="user.city.id"
                          [ngModelOptions]="{standalone: true}" id="profile-city">
                    <option [selected]="user.city.id === city.id" *ngFor="let city of cities" [value]="city.id">
                      {{city.name}}
                    </option>
                  </select>
                </div>
                <div class="edit-item">
                  <label for="profile-experience">ניסיון</label>
                  <select [(ngModel)]="user.experience_id"
                          [ngModelOptions]="{standalone: true}" id="profile-experience">
                    <option [selected]="user.experience_id === '1'" value="1">פחות משנה</option>
                    <option [selected]="user.experience_id === '2'" value="2">שנה</option>
                    <option [selected]="user.experience_id === '3'" value="3">1-3 שנים</option>
                    <option [selected]="user.experience_id === '4'" value="4">3-5 שנים</option>
                    <option [selected]="user.experience_id === '5'" value="5">למעלה מ-5 שנים</option>
                  </select>
                </div>
                <div class="edit-item">
                  <label for="profile-leg">רגל חזקה</label>
                  <select [(ngModel)]="user.strong_leg"
                          [ngModelOptions]="{standalone: true}" id="profile-leg">
                    <option [selected]="user.strong_leg === 'שמאל'" value="שמאל">שמאל</option>
                    <option [selected]="user.strong_leg === 'ימין'" value="ימין">ימין</option>
                  </select>
                </div>
                <div class="edit-item">
                  <label>עמדה</label>
                  <select [(ngModel)]="user.field_position.id" [ngModelOptions]="{standalone: true}">
                    <option [selected]="user.field_position.id === position.id"
                            *ngFor="let position of positionsField"
                            [value]="position.id">{{position.position}}
                    </option>
                  </select>
                </div>
                <div class="edit-item">
                  <label>עמדה מועדפת</label>
                  <select [(ngModel)]="user.preffered_position.id" [ngModelOptions]="{standalone: true}">
                    <option [selected]="user.preffered_position.id === position.id"
                            *ngFor="let position of positionsPreffered"
                            [value]="position.id">{{position.position}}
                    </option>
                  </select>
                </div>
                <div class="edit-item">
                  <label for="profile-height"> גובה (ס"מ)</label>
                  <input #height="ngModel"
                         [ngClass]="{'not-right': height.invalid && height.touched}"
                         [(ngModel)]="user.height"
                         [ngModelOptions]="{standalone: true}"
                         id="profile-height"
                         type="number">
                </div>
                <div class="edit-item">
                  <label for="profile-weight">משקל (ק"ג)</label>
                  <input #weight="ngModel"
                         [ngClass]="{'not-right': weight.invalid && weight.touched}"
                         [(ngModel)]="user.weight"
                         [ngModelOptions]="{standalone: true}"
                         id="profile-weight"
                         type="number">
                </div>
              </div>

              <div class="path">
                <div class="edit-item">
                  <label for="profile-active-player">שחקן פעיל</label>
                  <select [(ngModel)]="user.is_active"
                          [ngModelOptions]="{standalone: true}"
                          id="profile-active-player">
                    <option [selected]="user.is_active === true" [ngValue]="true">כן</option>
                    <option [selected]="user.is_active === false" [ngValue]="false">לא</option>
                  </select>
                </div>
                <div class="edit-item">
                  <label>שפות דיבור</label>
                  <div class="select" (click)="changeState($event)">
                    <p (click)="closeLanguage($event)">{{selectedLanguage}}</p>
                    <form class="select-options" *ngIf="languageSelect">
                      <div class="select-options__item" *ngFor="let language of languages;let i=index">
                        <input type="checkbox" name="input{{i}}" id="language{{i}}" (change)="parseLanguage()" [(ngModel)]="language.checked">
                        <label for="language{{i}}">{{language.name}}</label>
                      </div>
                    </form>
                  </div>
                </div>
                <div class="edit-item">
                  <label>סיום חוזה</label>
                  <div class="flex select-wrap">
                    <select [disabled]="!user.has_contract" [(ngModel)]="dateModel.date.contract.year"
                            [ngModelOptions]="{standalone: true}">
                      <option [selected]="dateModel.date.contract.year === year"
                              [ngValue]="year"
                              *ngFor="let year of dateModel.date.term.contractYears">{{year}}
                      </option>
                    </select>
                    <select [disabled]="!user.has_contract" [(ngModel)]="dateModel.date.contract.month"
                            (change)="getMonth(dateModel.date.contract.month, 'contract')"
                            [ngModelOptions]="{standalone: true}">
                      <option [selected]="dateModel.date.contract.month === month"
                              [ngValue]="month"
                              *ngFor="let month of dateModel.date.term.contractMonth">
                        {{month}}
                      </option>
                    </select>
                    <select [disabled]="!user.has_contract" [(ngModel)]="dateModel.date.contract.day"
                            [ngModelOptions]="{standalone: true}">
                      <option [selected]="dateModel.date.contract.day === day"
                              [ngValue]="day"
                              *ngFor="let day of dateModel.date.contract.days">{{day}}
                      </option>
                    </select>
                </div>

                </div>
                <div class="edit-item">
                  <div class="profile-radio-group">
                    <div class="radio-wrap">
                      <div class="radio-group-title">מין</div>
                      <div class="radio-wrap-item">
                        <input [checked]="user.gender.id === 1 || user.gender.id === null"
                               [value]="1"
                               [(ngModel)]="user.gender.id"
                               name="gender"
                               id="male"
                               type="radio">
                        <label for="male">זכר</label>
                      </div>
                      <div class="radio-wrap-item">
                        <input [checked]="user.gender.id === 2"
                               [value]="2"
                               [(ngModel)]="user.gender.id"
                               name="gender"
                               id="female"
                               type="radio">
                        <label for="female">נקבה </label>
                      </div>
                    </div>
                    <div class="edit-item">
                      <div class="radio-group-title">תחת חוזה</div>
                      <div class="radio-wrap-item">
                        <input [checked]="user.has_contract || user.has_contract === null"
                               name="contract"
                               [(ngModel)]="user.has_contract"
                               (change)="dateModel.transformContractDate($event)"
                               [value]="true"
                               id="yes"
                               type="radio">
                        <label for="yes">כן</label>
                      </div>
                      <div class="radio-wrap-item">
                        <input [checked]="!user.has_contract"
                               [(ngModel)]="user.has_contract"
                               (change)="dateModel.transformContractDate($event)"
                               [value]="false"
                               name="contract"
                               id="no"
                               type="radio">
                        <label for="no">לא </label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="edit-item">
                  <div class="checkbox-wrap-item">
                    <input [(ngModel)]="user.has_agent"
                           [ngModelOptions]="{standalone: true}"
                           id="profile-agent"
                           type="checkbox"
                           class="checkbox">
                    <label for="profile-agent">יש סוכן </label>
                  </div>
                  <div class="checkbox-wrap-item">
                    <input [(ngModel)]="user.intrested_in_foreign"
                           [ngModelOptions]="{standalone: true}"
                           name="intrested_in_foreign"
                           id="other-country"
                           type="checkbox"
                           class="checkbox">
                    <label for="other-country">מעוניין לשחק במדינות אחרות </label>
                  </div>
                </div>
                <div class="edit-item">
                  <label style="margin-top: 10px; margin-bottom: 0" for="contact_name">שם איש הקשר</label>
                  <input #height="ngModel"
                         [ngClass]="{'not-right': height.invalid && height.touched}"
                         [(ngModel)]="contact.contact_name"
                         [ngModelOptions]="{standalone: true}"
                         id="contact_name"
                         type="text">
                </div>
                <div class="edit-item">
                  <label style="margin-top: 10px; margin-bottom: 0" for="contact_email">אימייל של איש הקשר</label>
                  <input #height="ngModel"
                         [ngClass]="{'not-right': height.invalid && height.touched}"
                         [(ngModel)]="contact.contact_email"
                         [ngModelOptions]="{standalone: true}"
                         id="contact_email"
                         type="email">
                </div>
                <div class="edit-item">
                  <label style="margin-top: 10px; margin-bottom: 0" for="contact_phone">טלפון של איש הקשר</label>
                  <input #height="ngModel"
                         [ngClass]="{'not-right': height.invalid && height.touched}"
                         [(ngModel)]="contact.contact_phone"
                         [ngModelOptions]="{standalone: true}"
                         id="contact_phone"
                         type="tel">
                </div>
              </div>
            </div>
            <div class="edit-item">
              <div class="textarea-title">סיפור הספורט שלי</div>
              <textarea #about="ngModel"
                        [ngClass]="{'not-right': about.invalid && about.touched}"
                        [(ngModel)]="user.about_me"
                        [ngModelOptions]="{standalone: true}"></textarea>
            </div>
            <div class="edit-item">
              <button nbButton size="medium" (click)="updateContacts()">להציל</button>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
