<nb-card>
  <nb-card-header>Server list</nb-card-header>
  <nb-card-body>
    <div class="create-mask-section">
      <button class="btn btn-rectangle btn-success btn-small btn-margin margin-btm"
              (click)="openDialog(null, 'create')">
        Create server
      </button>
    </div>
    <div class="col-md-12">
      <div class="content-list row">
        <div class="list-item" *ngFor="let item of serverList">
          <mat-card class="content-card">
            <mat-card-content>
              <div class="text-section">
                <div class="content-name __flex-row">
                  <span class="text-title">URL:</span>
                  <p class="text-name">{{item.url}}</p>
                </div>
                <div class="content-date __flex-row">
                  <span class="text-title">Username:</span>
                  <p class="text-name">{{item.username}}</p>
                </div>
                <div class="content-time __flex-row">
                  <span class="text-title">Credential:</span>
                  <p class="text-name">{{item.credential}}</p>
                </div>
              </div>
            </mat-card-content>
            <mat-card-actions align="end">
              <button mat-button (click)="openDialog(item, 'edit')">EDIT</button>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
    </div>
  </nb-card-body>
</nb-card>
