<div class="content-list row">

  <div class="list-item" *ngFor="let item of slidesList">
    <ngx-slides-list-item [slide]="item" (reload)="slideChanged($event)" (slideDeleted)="handleSlideDeleted($event)"></ngx-slides-list-item>
  </div>
</div>
