<div class="content-list row">

  <div class="list-item" *ngFor="let item of coachesList">
    <ngx-coaches-list-item [coach]="item" (coachDeleted)="handleCoachDeleted($event)"></ngx-coaches-list-item>
  </div>
</div>
