<nb-card dir="rtl">
  <nb-card-body>
    <nb-tabset fullWidth>
      <nb-tab tabTitle="Scouts">
        <form [formGroup]="scoutData" (ngSubmit)="addScout()">
          <input nbInput formControlName="firstname" type="text" placeholder="first name">
          <input nbInput formControlName="lastname" type="text" placeholder="last name">
          <input nbInput formControlName="email" type="email" placeholder="email">
          <input nbInput formControlName="password" type="text" placeholder="password">
          <button nbButton type="submit" [disabled]="!scoutData.valid">Add</button>
        </form>
        <ng2-smart-table [settings]="settings" [source]="source" (deleteConfirm)="deleteScout($event)">
        </ng2-smart-table>
      </nb-tab>
      <nb-tab tabTitle="Deleted scouts">
        <ng2-smart-table [settings]="settings2" [source]="deletedList" (deleteConfirm)="restoreScout($event)">
        </ng2-smart-table>
      </nb-tab>
    </nb-tabset>
  </nb-card-body>
</nb-card>
