nb-tab {
  margin: 25px 0;
  form {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 0 auto;
    input {
      height: 35px;
      margin-bottom: 15px;
      border-radius: 10px;
      padding: 10px;
      font-size: 16px;
    }
    button {
      margin-bottom: 20px;
    }
  }
}
