// themes - our custom or/and out of the box themes
@import 'themes';

// framework component themes (styles tied to theme variables)
@import '../../../libs/@nebular/theme/styles/globals';
@import '../../../libs/@nebular/auth/styles/all';
@import '../../../libs/@nebular/bootstrap/styles/globals';
// angular material

@import '~@angular/material/prebuilt-themes/indigo-pink.css';
// global app font size
@import './font-size';

// loading progress bar theme
@import './pace.theme';

@import './bootstrap-rtl';

// install the framework and custom global styles
@include nb-install() {

  // framework global styles
  @include nb-theme-global();
  @include nb-auth-global();
  @include nb-bootstrap-global();

  // loading progress bar
  @include ngx-pace-theme();

  // fixed in rc.9 and can be removed after upgrade
  .custom-control .custom-control-indicator {
    border-radius: 50%; // TODO: quickfix for https://github.com/akveo/nebular/issues/275
  }
  mat-dialog-container {
    background-color: #fff;
  }
  mat-calendar {
    background-color: #fff;
  }
  button {
    cursor: pointer!important;
  }
  button:focus {
    outline: none;
  }

  .mat-expansion-panel {
    box-shadow: none !important;
  }

  .change-table {
    tr {
      .ng-star-inserted:nth-child(3) {
        direction: ltr;
        text-align: left;
      }
    }
  }

  .mat-menu-panel {
    background-color: #fff;
  }
  .mat-elevation-z2 {
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
  }
  .panel-styles {
    background-color: #fff;
    top: -103px !important;
    font-size: 16px;
  }
  .menu-icon {
    font-size: 2rem!important;
  }
  @include bootstrap-rtl();

  .loading-text {
    font-family: Assistant;
    font-size: 35px;
    font-weight: 700;
    color: #c5bb98;
    background-color: transparent;
    position: fixed;
    top: 30%;
  }
  .wrapper {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 500;
    //.loading {
    //  display: flex;
    //  justify-content: center;
    //  align-items: center;
    //  width: 250px;
    //  height: 250px;
    //  img{
    //    width: 100px;
    //    height: 100px;
    //  }
    //}
    .cssload-loader-walk {
      width: 100px;
      height: 40px;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
    }
    .cssload-loader-walk > div {
      content: "";
      width: 20px;
      height: 20px;
      background: rgb(196,185,151);
      border-radius: 100%;
      position: absolute;
      animation: cssload-animate 2.3s linear infinite;
      -o-animation: cssload-animate 2.3s linear infinite;
      -ms-animation: cssload-animate 2.3s linear infinite;
      -webkit-animation: cssload-animate 2.3s linear infinite;
      -moz-animation: cssload-animate 2.3s linear infinite;
    }
    .cssload-loader-walk > div:nth-of-type(1) {
      animation-delay: -0.46s;
      -o-animation-delay: -0.46s;
      -ms-animation-delay: -0.46s;
      -webkit-animation-delay: -0.46s;
      -moz-animation-delay: -0.46s;
    }
    .cssload-loader-walk > div:nth-of-type(2) {
      animation-delay: -0.92s;
      -o-animation-delay: -0.92s;
      -ms-animation-delay: -0.92s;
      -webkit-animation-delay: -0.92s;
      -moz-animation-delay: -0.92s;
    }
    .cssload-loader-walk > div:nth-of-type(3) {
      animation-delay: -1.38s;
      -o-animation-delay: -1.38s;
      -ms-animation-delay: -1.38s;
      -webkit-animation-delay: -1.38s;
      -moz-animation-delay: -1.38s;
    }
    .cssload-loader-walk > div:nth-of-type(4) {
      animation-delay: -1.84s;
      -o-animation-delay: -1.84s;
      -ms-animation-delay: -1.84s;
      -webkit-animation-delay: -1.84s;
      -moz-animation-delay: -1.84s;
    }



    @keyframes cssload-animate {
      0% {
        left: 100px;
        top: 0;
      }
      80% {
        left: 0;
        top: 0;
      }
      85% {
        left: 0;
        top: -20px;
        width: 20px;
        height: 20px;
      }
      90% {
        width: 40px;
        height: 15px;
      }
      95% {
        left: 100px;
        top: -20px;
        width: 20px;
        height: 20px;
      }
      100% {
        left: 100px;
        top: 0;
      }
    }

    @-o-keyframes cssload-animate {
      0% {
        left: 100px;
        top: 0;
      }
      80% {
        left: 0;
        top: 0;
      }
      85% {
        left: 0;
        top: -20px;
        width: 20px;
        height: 20px;
      }
      90% {
        width: 40px;
        height: 15px;
      }
      95% {
        left: 100px;
        top: -20px;
        width: 20px;
        height: 20px;
      }
      100% {
        left: 100px;
        top: 0;
      }
    }

    @-ms-keyframes cssload-animate {
      0% {
        left: 100px;
        top: 0;
      }
      80% {
        left: 0;
        top: 0;
      }
      85% {
        left: 0;
        top: -20px;
        width: 20px;
        height: 20px;
      }
      90% {
        width: 40px;
        height: 15px;
      }
      95% {
        left: 100px;
        top: -20px;
        width: 20px;
        height: 20px;
      }
      100% {
        left: 100px;
        top: 0;
      }
    }

    @-webkit-keyframes cssload-animate {
      0% {
        left: 100px;
        top: 0;
      }
      80% {
        left: 0;
        top: 0;
      }
      85% {
        left: 0;
        top: -20px;
        width: 20px;
        height: 20px;
      }
      90% {
        width: 40px;
        height: 15px;
      }
      95% {
        left: 100px;
        top: -20px;
        width: 20px;
        height: 20px;
      }
      100% {
        left: 100px;
        top: 0;
      }
    }

    @-moz-keyframes cssload-animate {
      0% {
        left: 100px;
        top: 0;
      }
      80% {
        left: 0;
        top: 0;
      }
      85% {
        left: 0;
        top: -20px;
        width: 20px;
        height: 20px;
      }
      90% {
        width: 40px;
        height: 15px;
      }
      95% {
        left: 100px;
        top: -20px;
        width: 20px;
        height: 20px;
      }
      100% {
        left: 100px;
        top: 0;
      }
    }
  }

  .row {
    position: relative;
  }

  .edit-button {
    left: 50%;
    top: 15px;
    z-index: 100;
    position: absolute;
    font-size: 30px;
    color: black;
  }

  .row-wrapper {
    width: 100%;
  }
  .path {
    width: 100%;
  }

  .path-wrapper {
    display: flex;
    flex-direction: row;
  }

  .select {
    width: 150px;
    height: 20px;
    border: 1px solid grey;
    background-color: white;
    position: relative;
    text-align: right;
    .select-options {
      display: flex;
      position: absolute;
      top: 100%;
      width: 100%;
      max-height: 200px;
      overflow: scroll;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-start;
      background-color: white;
      color:black;
      border: 1px solid grey;
      z-index: 60;
    }
  }

  .edit-item {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;
    direction: rtl;
    z-index: 1;
    button {
      width: 100px;
      height: 50px;
      position: relative;
      right: 0;
    }
    textarea {
      width: 100%;
      height: 200px;
      resize: none;
    }
    select {
      margin: 10px 0;
    }
    input {
      margin: 10px 5px;
    }
  }

  .languages{
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
  }
};
