<div class="header-container"
     [class.left]="position === 'normal'"
     [class.right]="position === 'inverse'">
  <div class="logo-containter">
    <a (click)="logOut()" href="#"><i style="font-size: 25px" class="fas fa-sign-out-alt"></i></a>
    <a (click)="toggleSidebar()" href="#" class="navigation"><i class="nb-menu"></i></a>
    <div class="logo" (click)="goToHome()">Scout<span>Beyond</span></div>
  </div>
</div>
