@import 'theming';
@import 'themes';
@import 'globals';

.due-date {
  color: red!important;
}

[_nghost-c9]{
  text-align: right!important;
}

:host /deep/ tr,th {
  text-align: right!important;
}

.nb-theme-corporate ng2-smart-table .ng2-smart-actions ng2-st-tbody-edit-delete, .nb-theme-corporate ng2-smart-table .ng2-smart-actions ng2-st-tbody-create-cancel, .nb-theme-corporate ng2-smart-table .ng2-smart-actions ng2-st-actions{
  height: auto!important;
}

.input-text-cnslt[_ngcontent-c23] {
  font-size: 14px!important;
}

