/**
 * @license
 * Copyright Akveo. All Rights Reserved.
 * Licensed under the MIT License. See License.txt in the project root for license information.
 */

@import 'global/components';
@import 'global/overrides';
@import 'global/breakpoints';

@mixin nb-theme-global() {
  @include nb-theme-components();
  @include nb-theme-overrides();
}


.nb-theme-corporate nb-layout ::-webkit-scrollbar-thumb {
  background: #80b5e4 !important;
}

.nb-theme-corporate nb-layout ::-webkit-scrollbar {
  width: 10px !important;
}

@mixin nb-install() {
  @include nb-install-global() {
    @content;
  }

  .due-date {
    color:red!important;
  }

  [_nghost-c9]{
    text-align: right!important;
  }

  :host /deep/ tr,th {
    text-align: right!important;
  }

  .nb-theme-corporate ng2-smart-table .ng2-smart-actions ng2-st-tbody-edit-delete, .nb-theme-corporate ng2-smart-table .ng2-smart-actions ng2-st-tbody-create-cancel, .nb-theme-corporate ng2-smart-table .ng2-smart-actions ng2-st-actions{
    height: auto!important;
  }

  .input-text-cnslt[_ngcontent-c23] {
    font-size: 14px!important;
  }

  .section-wrap span {
    font-size: 14px!important;
  }
}
