<toaster-container [toasterconfig]="config"></toaster-container>

<div class="row" dir="rtl">
  <div class="col-md-12">
    <nb-card dir="rtl">
      <nb-card-header style="text-align: right">ערוך שקפים</nb-card-header>
      <nb-card-body>
        <!--<div style="display: flex" class="create-mask-section">-->
          <!--<button class="btn btn-rectangle btn-success btn-small btn-margin margin-btm"-->
                  <!--(click)="openCreateMaskDialog()">-->
            <!--הוסף שקף-->
          <!--</button>-->
        <!--</div>-->
        <div class="col-md-12">
          <ngx-slides-list [slidesList]="slidesList"></ngx-slides-list>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
