<nb-card>
  <nb-card-body dir="rtl">
    <div class="flex-wrapper" *ngIf="contactUsText.length">
      <div class="types-block" dir="rtl">
        <div class="type-item">
          <input placeholder="כותרת" [(ngModel)]="contactUsText[0].field1" type="text" nbInput>
          <input placeholder="כותרת" [(ngModel)]="contactUsText[0].field2" type="text" nbInput>
          <textarea nbInput placeholder="תיאור" [(ngModel)]="contactUsText[0].field3"></textarea>
          <input placeholder="כותרת" [(ngModel)]="contactUsText[0].field4" type="email" nbInput>
        </div>
        <button class="btn btn-hero-primary" (click)="updateText(contactUsText[0])">
          שמירה
        </button>
      </div>
      <div class="types-block" dir="ltr">
        <div class="type-item">
          <input placeholder="כותרת" type="text" [(ngModel)]="contactUsText[1].field1" nbInput>
          <input placeholder="כותרת" type="text" [(ngModel)]="contactUsText[1].field2" nbInput>
          <textarea nbInput placeholder="תיאור" [(ngModel)]="contactUsText[1].field3"></textarea>
          <input placeholder="כותרת" [(ngModel)]="contactUsText[1].field4" type="email" nbInput>
        </div>
        <button class="btn btn-hero-primary" (click)="updateText(contactUsText[1])">
          שמירה
        </button>
      </div>
    </div>
    <div class="flex-wrapper">
      <div class="types-block" dir="rtl">
        <div class="type-item">
          <img [src]="banner.photo">
          <input placeholder="שם סעיף 1" [(ngModel)]="banner.title" type="text"
                 nbInput>
          <input type="file" (change)="changePhoto($event)">
        </div>
        <button class="btn btn-hero-primary"
                (click)="updateBanner(bannersId.heb, banner)">שמירה
        </button>
      </div>
      <div class="types-block" dir="ltr">
        <div class="type-item">
          <img [src]="bannerEng.photo">
          <input placeholder="שם סעיף 1" [(ngModel)]="bannerEng.title" type="text"
                 nbInput>
        </div>
        <button class="btn btn-hero-primary"
                (click)="updateBanner(bannersId.eng, bannerEng)">שמירה
        </button>
      </div>
    </div>
  </nb-card-body>
</nb-card>
