<toaster-container [toasterconfig]="config"></toaster-container>

<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header style="text-align: right">ערוך צוות</nb-card-header>
      <nb-card-body>
        <div style="display: flex" class="create-mask-section">
          <button class="btn btn-rectangle btn-success btn-small btn-margin margin-btm"
                  (click)="openCreateMaskDialog()">
            הוסף צוות
          </button>
        </div>
        <div class="col-md-12">
          <ngx-edit-team-list [teamsList]="teamsList"></ngx-edit-team-list>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
