ul{display:flex;flex-direction:row;list-style-type:none;margin:0}ul li{cursor:pointer;margin-bottom:-1px;text-align:center}ul li.active a::before{display:block}ul li a{position:relative;text-decoration:none;display:inline-block}ul li a::before{display:none;position:absolute;content:'';width:100%;height:6px;border-radius:3px;bottom:-2px;left:0}ul li a i{font-size:1.5rem;vertical-align:middle}[dir=ltr] ul li a i+span{margin-left:.5rem}[dir=rtl] ul li a i+span{margin-right:.5rem}:host.full-width ul{justify-content:space-around}
