[_nghost-c9]{
  text-align: right!important;
}

.nb-theme-corporate ng2-smart-table .ng2-smart-actions ng2-st-tbody-edit-delete, .nb-theme-corporate ng2-smart-table .ng2-smart-actions ng2-st-tbody-create-cancel, .nb-theme-corporate ng2-smart-table .ng2-smart-actions ng2-st-actions{
  height: auto!important;
}
