<nb-card>
  <nb-card-body dir="rtl">
    <div *ngFor="let item of list">
      <div class="flex-wrapper">
        <div class="types-block" dir="rtl">
          <div class="type-item">
            <input placeholder="כותרת" [(ngModel)]="item.how_it_work[1].title" type="text" nbInput>
            <textarea nbInput placeholder="תיאור" [(ngModel)]="item.how_it_work[1].description"></textarea>
            <img [src]="item.how_it_work[1].photo" alt="{{item.how_it_work[1].title}}">
            <input type="file" (change)="changePhoto($event, item)">
          </div>
          <button class="btn btn-hero-primary" (click)="updateText(item.how_it_work[1])">
            שמירה
          </button>
        </div>
        <div class="types-block" dir="ltr">
          <div class="type-item">
            <input placeholder="כותרת" type="text" [(ngModel)]="item.how_it_work[0].title" nbInput>
            <textarea nbInput placeholder="תיאור" [(ngModel)]="item.how_it_work[0].description"></textarea>
            <img [src]="item.how_it_work[0].photo" alt="{{item.how_it_work[0].title}}">
          </div>
          <button class="btn btn-hero-primary" (click)="updateText(item.how_it_work[0])">
            שמירה
          </button>
        </div>
      </div>
    </div>
    <div class="flex-wrapper">
      <div class="types-block" dir="rtl">
        <div class="type-item">
          <img [src]="banner.photo">
          <input placeholder="שם סעיף 1" [(ngModel)]="banner.title" type="text"
                 nbInput>
          <input type="file" (change)="changePhoto($event)">
        </div>
        <button class="btn btn-hero-primary"
                (click)="updateBanner(bannersId.heb, banner)">שמירה
        </button>
      </div>
      <div class="types-block" dir="ltr">
        <div class="type-item">
          <img [src]="bannerEng.photo">
          <input placeholder="שם סעיף 1" [(ngModel)]="bannerEng.title" type="text"
                 nbInput>
        </div>
        <button class="btn btn-hero-primary"
                (click)="updateBanner(bannersId.eng, bannerEng)">שמירה
        </button>
      </div>
    </div>
  </nb-card-body>
</nb-card>
